.prod-headers p{
    padding: 12px 0px
}
#prod-title, #prod-price{
    margin: 0px;
}
/* .prod-main-inner{
    height: 80px;
} */
.item-quantity p{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
#prod-div-inner-three{
    width: 20%;
}
.prod-inner-div img{
    height: 140px;
    width: 140px;
    border: 1px solid black;
}
#checkout a{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px 27px;
    border: none;
    text-align: center;    
}
#checkout{
    border: none;
    background: none;
}